@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root
{
    --fuente-principal: 'Poppins', sans-serif;
    --fina: 300;
    --bold: 700;
    --negro: #000;
    --blanco: #FFF; 
}

html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    font-family: var(--fuente-principal);
    font-weight: var(--fina);
    color: var(--negro);
    line-height: 1.8;
}

.contenedor
{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}